





html{
    scroll-behavior: smooth;
   
 
 }
 



.center{
    text-align:center ;
    justify-content: center;
    align-items: center;
    margin: 10% ;
}


/*animaao do h1*/
.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.lePeek span { animation-name: lePeek }
@keyframes lePeek {
    25% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    50% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}